interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sandbox.tradier.com/v1/markets/calendar?month=4&year=2025
  response:
    body:
      string: '{"calendar":{"month":4,"year":2025,"days":{"day":[{"date":"2025-04-01","status":"open","description":"Market
        is open","premarket":{"start":"07:00","end":"09:24"},"open":{"start":"09:30","end":"16:00"},"postmarket":{"start":"16:00","end":"19:55"}},{"date":"2025-04-02","status":"open","description":"Market
        is open","premarket":{"start":"07:00","end":"09:24"},"open":{"start":"09:30","end":"16:00"},"postmarket":{"start":"16:00","end":"19:55"}},{"date":"2025-04-03","status":"open","description":"Market
        is open","premarket":{"start":"07:00","end":"09:24"},"open":{"start":"09:30","end":"16:00"},"postmarket":{"start":"16:00","end":"19:55"}},{"date":"2025-04-04","status":"open","description":"Marke[...]
